.nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    transition: right 0.3s ease;
    z-index: 999;
    overflow: auto;
}

.open {
    right: 0;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    z-index: 1000;
}

.navList {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #121417;

}

.navList a:hover {
    color: var(--color-primary);

}

.nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    padding-top: 100px;
}

.mobileBtn {
    display: block;
    width: 100%;
    padding: 12px 24px;
    margin-top: 16px;
    margin-bottom: 20px;
    background: var(--color-primary);
    color: #000;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
}

.mobileBtn:hover {
    background: var(--color-primary-soft);
}

.userGreeting {
    margin-top: 10px;
    color: var(--color-primary);
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

.mobileThemeSwitcher {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}