.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    position: relative;
    z-index: 100;
}


.dropdown {
    position: relative;
    z-index: 1000;
}

.dropdown-label {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #8a8a89;
}

.dropdown button {
    padding: 12px 16px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #121417;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    margin-left: auto;
    align-items: center;
    display: inline-flex;
    transition: transform 0.3s ease;
}



.dropdown-menu {
    position: absolute;
    left: 0;
    list-style: none;
    width: 100%;
    margin-top: 4px;
    padding: 14px 18px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    gap: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #121417;
    z-index: 2000;
    top: calc(100% + 4px);
    bottom: auto;
}

.dropdown-item {
    color: rgba(18, 20, 23, 0.2);
    cursor: pointer;
    transition: 0.2s, color 0.2s;
}


.dropdown-item:hover {
    color: #121417;
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .dropdown {
        position: relative;
        z-index: 1;
    }

    .dropdown.open {
        z-index: 20;
    }

    .dropdown-menu {
        z-index: 30;
    }
}