.containerContactForm {
    background-color: #fff;
    width: 100%;
    max-width: 599px;
    min-height: 400px;
    max-height: 95vh;
    overflow-y: auto;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 64px;
}

.containerContactForm::-webkit-scrollbar {
    width: 10px;
}

.containerContactForm::-webkit-scrollbar-thumb {
    background-color: #0101010d;
    border-radius: 4px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    background-clip: content-box;
}

.containerContactForm::-webkit-scrollbar-track {
    background: #4646460d;
    border-radius: 30px;
}

.title {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #121417;
    margin: 0;
}

.text {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(18, 20, 23, 0.8);
}

.imgAvatar {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    box-sizing: border-box;
}

.Name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    padding-bottom: 4px;
    list-style: none;

}

.infoName {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8a8a89;

}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #121417;
}

.item {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #121417;
    padding-bottom: 20px;
    margin: 0;
}



.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 40px;
}

.radioGroup label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.radioGroup input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.radioGroup input[type="radio"]:checked {
    border-color: var(--color-primary);
}

.radioGroup input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--color-primary);
}

.formGpoup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.inputGroup input {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 32px 16px 18px;
    width: 472px;
    box-sizing: border-box;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #121417;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    padding-top: 40px;
}

.submitBtn {
    border-radius: 12px;
    padding: 16px 215px;
    width: 472px;
    height: 60px;
    background: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #121417;
}

.submitBtn:hover {
    background: var(--color-primary-soft);
}

@media (max-width: 767px) {
    .containerContactForm {
        padding: 24px;
        max-width: 375px;
        width: 100%;

        border-radius: 20px;
    }

    .title {
        font-size: 28px;
        line-height: 34px;
        padding-bottom: 10px;
    }

    .text {
        padding-bottom: 8px;
    }

    .imgAvatar {
        padding-bottom: 16px;
    }

    .item {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 8px;
    }

    .radioGroup {
        gap: 10px;
        padding-bottom: 20px;
    }

    .formGpoup {
        gap: 10px;
    }

    .inputGroup {
        width: 100%;
        max-width: 375px;

    }

    .inputGroup input {
        width: 100%;
        max-width: 375px;
        height: 50px;
    }

    .button {
        padding-top: 20px;
    }

    .submitBtn {
        max-width: 375px;
        padding: 16px;
    }
}