* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--font-family);
  background-color: #ffffff;
  color: #333;
  line-height: 1.5;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  margin-bottom: 10px;
  font-weight: 500;
}


a {
  text-decoration: none;
  color: inherit;

}


button {
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
  font-family: inherit;
  border: none;
  background: none;

}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-text: #121417;
  --color-bg: #ffffff;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {

  overflow-x: hidden;
}